<%- include('common/header'); %>

<div class=" jumbotron jumbotron-fluid bg-transparent">
    <div class="row">
        <h1 class=" col-12 display-1">We are sorry to see you go. </h1>
        <p class="col-12 lead">Hope to see you again some time</p>
    </div>
</div>

<%- include('common/footer'); %>