<%- include('common/header'); %>



<div class="jumbotron  bg-transparent">
    <h1 class="display-1">Mooder</h1>
    <p class="lead">track your mood today</p>
</div>




<%- include('common/footer'); %>
